
{% extends 'base.html.twig' %}
{% block main %}
    <div class="wrapper1 fadeInDown">
        <div id="formContent">


            <form action="{{ path('add_address') }}" method="post">
                <fieldset>
                    <h3  class="fadeIn first"style="text-align: center; color:limegreen; font-family: Comic Sans MS, cursive, sans-serif">Информация за доставка</h3>
                    <label for=user_FirstName"></label><input type="text" class="fadeIn" id="user_FirstName" placeholder="Име и фамилия" name="">
                    <input class="fadeIn" id="user_LastName" name="appbundle_useraddress[region]" placeholder="Област" type="text">
                    <input class="fadeIn" id="user_LastName" name="appbundle_useraddress[city]" placeholder="Град" type="text">
                    <input class="fadeIn" id="user_LastName" name="appbundle_useraddress[postalcode]" placeholder="Пощенски код" type="text">
                    <input class="fadeIn" id="user_LastName" name="appbundle_useraddress[address]" placeholder="Офис на Еконт" type="text">
                    <input class="fadeIn" id="user_LastName" name="appbundle_useraddress[GSM]" placeholder="Телефон за връзка" type="text">
                  {#  {{  form_row(form._token) }}#}
{#{{ form.vars.id }}#}
                    <input type="submit" class="fadeIn fourth btn btn-success" value="Завърши">
                </fieldset>
            </form>



        </div>
    </div>
{% endblock %}