{% extends 'base.html.twig' %}

{% block body %}

{% block main %}


                    <h2 class="wow bounceInLeft">Здравословна бакалия</h2>
                    <p class="wow bounceInRight">Нека храната бъде вашето лекарство </p>
                    <button class="wow bounceInLeft btn btn-success btn-lg">Магазин</button>

    {% endblock %}
{% endblock %}
