{% extends 'base.html.twig' %}
{% block body_id 'register' %}
{% block main %}

    <div class="wrapper1 fadeInDown">
        <div id="formContent">
            {% for msg in app.session.flashbag().get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {% endfor %}
       {#     {% for error in error %}
            {{ error.message }}
            {% endfor %}#}

            <form action="{{ path('user_register') }}" method="post">
                <fieldset>
                <h3  class="fadeIn first"style="text-align: center; color:limegreen; font-family: Comic Sans MS, cursive, sans-serif">Регистрация</h3>
                <label for=user_FirstName"></label><input type="text" class="fadeIn" id="user_FirstName" placeholder="Име" name="user[firstName]">
                <input class="fadeIn" id="user_LastName" name="user[lastName]" placeholder="Фамилия"
                       type="text">
                <label for="user_email"></label><input type="text" id="user_email" class="fadeIn second" name="user[email]" placeholder="Ел.поща">
                <label for="user_password"></label><input type="password" id="user_password" class="fadeIn second" name="user[password]" placeholder="Парола">

                <input type="submit" class="fadeIn fourth btn btn-success" value="Регистрация">
                </fieldset>
            </form>

        {#    {{  form_row(form._token) }}#}

        </div>
    </div>
{% endblock %}