*{margin: 0; padding: 0;}
.my-nav{position: relative;
       top:0;
       width: 100%;
       z-index: 999;
     
       border: none;
       border-radius: 0;
      margin-bottom:0px;
 }
 
.my-nav {
 background-color:rgb(0,100,0) ;
   border-color: rgba(0,0,0,0.00);
}
.my-nav .navbar-brand {
  color: #ecf0f1;
}
.my-nav .navbar-brand:hover,
.my-nav .navbar-brand:focus {
  color: #ecdbff;
}
.my-nav .navbar-text {
  color: #ecf0f1;
}
.my-nav .navbar-nav > li > a {
  font-weight: bold;
   font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: #ecf0f1;
}
.my-nav .navbar-nav > li:hover
{
  background-color: orange;
box-shadow: 48px -19px 37px -10px rgba(0,0,0,0.37);

}
.my-nav .navbar-nav > li > a:hover,
.my-nav .navbar-nav > li > a:focus {
 
  color: #ecdbff;
}
.my-nav .navbar-nav > .active > a,
.my-nav .navbar-nav > .active > a:hover,
.my-nav .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #3962ff;
}
.my-nav .navbar-nav > .open > a,
.my-nav .navbar-nav > .open > a:hover,
.my-nav .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #3962ff;
}
.my-nav .navbar-toggle {
  border-color: #3962ff;
}
.my-nav .navbar-toggle:hover,
.my-nav .navbar-toggle:focus {
  background-color: #3962ff;
}
.my-nav .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.my-nav .navbar-collapse,
.my-nav .navbar-form {
  border-color: #ecf0f1;
}
.my-nav .navbar-link {
  color: #ecf0f1;
}
.my-nav .navbar-link:hover {
  color: #ecdbff;
}
 
@media (max-width: 767px) {
  .my-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .my-nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .my-nav .navbar-nav .open .dropdown-menu > .active > a,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #3962ff;
  }
}
 
/*for full screen landing page*/
html,body{margin: 0;padding: 0; width: 100%; height: 100%;}

 .wrapper{top:-70px;
    position: relative;
    width: 100%;
      height: 100%;
    

}

.wrapper .inner{
    
    display: table-cell;
 /*    vertical-align: middle; */ 
    widows: 100%;
    max-width: none;
}
.content{
   margin-top:70px;
  height: 100%;
    text-align: center;
    max-width: 7000px;
    
}
 

 
 
 
 
@media only screen and (max-width: 767px) {
    .my-carousel{position: relative;
            top:0px;
                  
}
     
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
     
    .navbar .navbar-brand {
  color: white;
}
    .navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color:wheat;
}
    .my-nav{top:0;}
    .navbar{margin-bottom: 0;}
     
.navbar-default .navbar-nav > li > a{color: black;}   /*link color change*/
     
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:#000000;
    color: #fffff0;
}/*change link color*/
 
     .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: black;
    color:#ffffff;
  }/*change dropdown link color*/
    .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}/*icon bar color*/
    .thumbnail{text-align: center;}
     
}
 

 /* lqlqlqlql */
 @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

.card-content {
  
  background-size: cover;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-content:hover {
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
 
  width: 100%;
 height: 200px;
  display: block;
}

.card-img span {
  position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {

  margin-top:21px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.25rem;
}
.card-desc:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
  color: #747373;
    font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.btn-card{
  background-color:#32CD32 ;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
   
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */
.article
{
  padding:0;
/*   margin-top: 20px;
padding-left: 20px;
 */
}
