*{margin: 0; padding: 0;}
body{
    width:100%;
}
.my-nav{position: relative;
       top:20px;
       width: 100%;
       z-index: 999;
       background:none;
       border: none;
       border-radius: 0;

 }

.my-nav {
  background-color:rgba(100,45,0,0);
  border-color: rgba(0,0,0,0.00);
}
.my-nav .navbar-brand {
  color: #ecf0f1;
}
.my-nav .navbar-brand:hover,
.my-nav .navbar-brand:focus {
  color: #ecdbff;
}
.my-nav .navbar-text {
  color: #ecf0f1;
}
.my-nav .navbar-nav > li > a {
  font-weight: bold;
   font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: #ecf0f1;
}
.my-nav .navbar-nav > li:hover
{
box-shadow: 48px -19px 37px -10px rgba(0,0,0,0.37);

}
.my-nav .navbar-nav > li > a:hover,
.my-nav .navbar-nav > li > a:focus {

  color: #ecdbff;
}
.my-nav .navbar-nav > .active > a,
.my-nav .navbar-nav > .active > a:hover,
.my-nav .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #3962ff;
}
.my-nav .navbar-nav > .open > a,
.my-nav .navbar-nav > .open > a:hover,
.my-nav .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #3962ff;
}
.my-nav .navbar-toggle {
  border-color: #3962ff;
}
.my-nav .navbar-toggle:hover,
.my-nav .navbar-toggle:focus {
  background-color: #3962ff;
}
.my-nav .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.my-nav .navbar-collapse,
.my-nav .navbar-form {
  border-color: #ecf0f1;
}
.my-nav .navbar-link {
  color: #ecf0f1;
}
.my-nav .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .my-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .my-nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .my-nav .navbar-nav .open .dropdown-menu > .active > a,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #3962ff;
  }
}

/*for full screen landing page*/
html,body{margin: 0;padding: 0; width: 100%; height: 100%;}

 .wrapper{top:-70px;
    position: relative;
    width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
     backface-visibility: hidden;
          animation: slideBg 8s linear infinite 0s;
     animation-timing-function: ease-in-out;
         background-image: url("../image/h-food-bg1.jpg");
        display: table;
    background-size: cover;

}
@keyframes slideBg
{
0%
{

background-image: url("../image/h-food-bg1.jpg");
}
25%
{
background-image: url("../image/seeds-photo1.jpg");
}
50%
{
background-image: url("../image/tea-bg1web.jpg");
}
75%
{
background-image: url("../image/h-food1.jpg");
}
100%
{
background-image: url("../image/herb-bg-3web.jpg");
}

}
.wrapper .inner{

    display: table-cell;
    vertical-align: middle;
    widows: 100%;
    max-width: none;
}
.content{
    text-align: center;
    max-width: 7000px;
    margin: 0 auto;
}

.content h2{
font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffffff;

      text-shadow: 0 0 300px #000;
    font-size: 300%;

 }
.content p{color: aliceblue;font-size: 16px;
 margin: 20px 0;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.thumbnail{border: none;}




@media only screen and (max-width: 767px) {
    .my-carousel{position: relative;
            top:0px;

}

    .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}

    .navbar .navbar-brand {
  color: white;
}
    .navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color:wheat;
}
    .my-nav{top:0;}
    .navbar{margin-bottom: 0;}

.navbar-default .navbar-nav > li > a{color: black;}   /*link color change*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:#000000;
    color: #fffff0;
}/*change link color*/

     .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: black;
    color:#ffffff;
  }/*change dropdown link color*/
    .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}/*icon bar color*/
    .thumbnail{text-align: center;}

}

.my-carousel {top:-70px}

.container > .row > a
{
  text-decoration: none;
  color: green;
}
.container > .row > a >h3,.container > .row >h3{
color: green;
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.container
{
  background-color:rgba(138,138,138,0.2);
}
.container > .row > .row > .col-md-4
{
  padding: 20px;
}

footer
{
    background-color: lightslategrey;
    height: 100px;
    margin:0px;


}
.content-article{
    position: absolute;
    width: 100%;
    top:234px;
    height:150px;
    vertical-align:middle;
    text-align: center;
    background-color: rgba(255, 255, 255,0.8);

}
.content-article:hover{
    background-color: rgba(255, 255, 255,0.5);

}
.content-article > .btn-success{

    padding: 5px;

}