{% extends 'base.html.twig' %}

{% block body %}

    {% block main %}

        <div class="row" style="margin-left:0;margin-right: 0;">


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 article  wow fadeInLeft" >
                <div class="card-content"style="">
                    <div class="card-img" style="">
                       {# --  <img src="{{ asset('image/tea-bg1web.jpg') }}" alt="" class="img-responsive" style="">#}
                    </div>
                    <div class="card-desc">
                        <h3>Heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                        <a href="#" class="btn-card">Read</a>
                    </div>
                </div>
            </div>



        </div>

    {% endblock %}
{% endblock %}
